Options +ExecCGI
AddHandler cgi-script .pl

DirectoryIndex main.pl

Options +MultiViews
RewriteEngine On
RewriteBase /

# redirect all requests to main.pl
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^cgi-bin/([^\s]+\.pl) /cgi-bin/$1 [L,QSA]