</head>
<body>
    <h1>Oops! An Error Occurred</h1>

    <p>Sorry, an error occurred while processing your request. Please try again later.</p>

    <p>[% error_message %]</p>
    <a href="/">Back to Home</a>
</body>
</html>