<!DOCTYPE html>
<html>
<head>
    <title>Virtual Machine Details</title>
</head>
<body>
    <h1>Virtual Machine Details</h1>
    <p>VM Name: [% vm.name %]</p>
    <p>OS: [% vm.os %]</p>
    <p>Storage: [% vm.storage %]</p>
    <a href="/edit_vm?vm_id=[% vm.id %]">Edit VM</a>
    <a href="/delete_vm?vm_id=[% vm.id %]">Delete VM</a>
</body>
</html>